ENVIRONMENT=local

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_DB=

EVENT_SERVICE_PORT=

RABBITMQ_BROKER_URI=

RABBITMQ_EVENT_QUERY_QUEUE=event-query
RABBITMQ_EVENT_TO_LECTURE_QUEUE=event-lecture