# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Code coverage profiles and other test artifacts
*.out
coverage.*
*.coverprofile
profile.cov

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# env file
**/.env*
!**/.env.example

event-service/cmd/server/**
!event-service/cmd/server/main.go

event-query-service/cmd/server/**
!event-query-service/cmd/server/main.go

lecture-service/cmd/server/**
!lecture-service/cmd/server/main.go

lecturer-service/cmd/server/**
!lecturer-service/cmd/server/main.go

lecture-query-service/cmd/server/**
!lecture-query-service/cmd/server/main.go


# Editor/IDE
.idea/
.vscode/

api-gateway/apisix/logs/*
!api-gateway/apisix/logs/.gitkeep
