ENVIRONMENT=local

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_DB=

EVENT_SERVICE_ADDR=
EVENT_SERVICE_PORT=
LECTURER_SERVICE_ADDR=
LECTURER_SERVICE_PORT=

LECTURE_SERVICE_PORT=

RABBITMQ_BROKER_URI=

RABBITMQ_LECTURER_TO_LECTURE_QUEUE=lecturer-lecture
RABBITMQ_REPLY_TO_LECTURE_QUEUE=reply-to-lecture

RABBITMQ_LECTURE_TO_LECTURE_QUERY_QUEUE=lecture-query
RABBITMQ_REPLY_TO_LECTURER_QUEUE=reply-to-lecturer

RABBITMQ_MAIL_QUEUE=mail.send
RABBITMQ_SAGA_REPLY_EVENT_QUEUE=saga-reply-event
